<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.gotable.mapper.ReservationMapper">
    <select id="selectRestaurantForUpdate" resultType="Integer">
        SELECT COUNT(*)
        FROM restaurant
        WHERE id = #{restaurantId}
        FOR UPDATE
    </select>

    <select id="isExistSchedule" resultType="boolean">
        SELECT IF(COUNT(*) > 0, true, false)
        <choose>
            <when test="scheduleType == 'daily'">
                FROM daily_schedule
            </when>
            <when test="scheduleType == 'specific'">
                FROM specific_schedule
            </when>
        </choose>
        WHERE id = #{restaurantId}
        <if test="scheduleType == 'specific'">
            AND date = #{date}
        </if>
    </select>

    <select id="isDuplicatedReservation" resultType="boolean">
        SELECT IF(COUNT(*) > 0, true, false)
        FROM reservation
        WHERE restaurant_id = #{restaurantId}
        AND (reservation_start_at &lt; #{reservationEndTime} AND reservation_end_at &gt; #{reservationStartTime})
    </select>

    <insert id="saveReservation">
        INSERT INTO reservation (member_seq, restaurant_id, reservation_at, member_count)
        VALUES (#{memberSeq}, #{storeId}, #{reservationTime}, #{memberCount})
    </insert>
</mapper>