<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.gotable.mapper.StoreMapper">
    <select id="findStoreById" resultType="flab.gotable.domain.entity.Store">
        SELECT id, name, address, max_member_count, max_available_day
        FROM restaurant
        WHERE id = #{id}
    </select>

    <select id="findDailyScheduleByStoreId" resultType="flab.gotable.domain.entity.DailySchedule">
        SELECT id, day, open_time, close_time, split_time
        FROM daily_schedule
        WHERE id = #{id}
    </select>

    <select id="findSpecificScheduleByStoreId" resultType="flab.gotable.domain.entity.SpecificSchedule">
        SELECT id, date, open_time, close_time, split_time
        FROM specific_schedule
        WHERE id = #{id}
    </select>
</mapper>